.content_block
  .content_block__grid
    .content_block__grid_item

      .content_block__title
        | Simple Encode
      .content_block__description
        .content_block__description_key
          | Alphabet:
        .content_block__description_value
          | Cyrillic
    
    .content_block__grid_item
      .tag
        | Easy

  .inputs_group__container
    .input__container
      label.input__label
        | Input

      textarea#typewriter.textarea(
        type='text'
        name='agreement'
        placeholder="Input something"
        row="3"
        checked
      )

    .input__container
      label.input__label
        | Input

      textarea.textarea(
        type='text'
        name='agreement'
        placeholder="Input something"
        row="3"
        checked
      )